<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3" />
	</startup>
	<appSettings>
		<add key ="diretorio" value="C:\arquivos\"/>
		<add key ="Base_de_Cliente" value="C:\BD\Clientes.txt"/>
	</appSettings>
</configuration>